<h1>Crear Cuenta Nueva</h1>
<hr />
<div class="container">
    <div>
        <form #userForm="ngForm" (ngSubmit)="fnSalvar(userForm.value)">
          <div
            class="form-group"
          >
            <label for="nombre">Nombre</label>
            <em
              *ngIf="
                userForm.controls.nombre?.invalid &&
                userForm.controls.nombre?.touched
              "
              >Este es requerido!</em
            >
            <input
              [(ngModel)]="nombre"
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              placeholder="Nombre..."
              required
            />
            <label for="apellido">Apellido</label>
            <em
              *ngIf="
                userForm.controls.apellido?.invalid &&
                userForm.controls.apellido?.touched
              "
              >Este es requerido!</em
            >
            <input
              [(ngModel)]="apellido"
              type="text"
              class="form-control"
              id="apellido"
              name="apellido"
              placeholder="Apellido..."
              required
            />
          </div>
          <div class="form-group">
            <label for="correo">Correo</label>
            <em
              *ngIf="
                userForm.controls.correo?.invalid &&
                userForm.controls.correo?.touched
              "
              >Este es requerido!</em
            >
            <input
              [(ngModel)]="email"
              type="email"
              class="form-control"
              id="correo"
              name="correo"
              placeholder="Correo electronico..."
              required
            />
      
            <label for="username">username</label>
            <em
              *ngIf="
                userForm.controls.username?.invalid &&
                userForm.controls.username?.touched
              "
              >Este es requerido!</em
            >
            <input
              [(ngModel)]="username"
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Usurname..."
              required
            />
      
            <label for="password">Contrasena</label>
            <em
              *ngIf="
                userForm.controls.password?.invalid &&
                userForm.controls.password?.touched
              "
              >Este es requerido!</em
            >
            <input
              [(ngModel)]="password"
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Contrasena..."
              required
            />
      
            <label for="phonenumber">Numero de telefono</label>
            <input
              [(ngModel)]="phoneNumber"
              type="tel"
              class="form-control"
              id="phonenumber"
              name="phonenumber"
            />
          </div>
          <div class="form-group">
            <button
              type="submit"
              [disabled]="userForm.invalid"
              class="btn btn-success"
            >
              Salvar
            </button>
          </div>
        </form>
      </div>
</div>

