<div class="container">
  <h1 class="menu-title" style="font-size: 50px; margin-top: 10px">
    <strong>Menu</strong>
  </h1>
  <div *ngIf="auth.user | async as user">
    <div *ngIf="user.displayName == 'Admin' || user.email == 'admin@gmail.com'">
      <button class="btn btn-danger" [routerLink]="['/combo']">
        Crear combo
      </button>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Cuantas desea ordenar?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="quantity">Cantidad</label>
          <div class="input-group">
            <input [(ngModel)]="cantidad" id="quantity" class="form-control" value="1" name="dp" type="number">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close(submitOrder())" [disabled]="cantidad < 1 || cantidad == undefined">Save</button>
    </div>
  </ng-template>
  <div class="thumb">
    <div *ngFor="let pizza of pizzaList" class="col-md-4">
      <pizza-thumbnail
        [pizzaUx]="pizza"
        (evtpizzaUx)="addToCart($event, content)"
      ></pizza-thumbnail>
    </div>
  </div>
</div>
