<div class="container">
    <div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10"><input type="text" class="form-control" [(ngModel)]="nombre" name="nombre"/></div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Precio</label>
            <div class="col-sm-10"><input type="text" class="form-control" [(ngModel)]="precio" name="precio"/></div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Descripcion</label>
            <div class="col-sm-10"><input type="text" class="form-control" [(ngModel)]="descripcion" name="descripcion"/></div>
        </div>

        <div class="card">
            <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
                <label class="custom-file-upload">
                  <input (change)="onChange($event)" type="file"/>
                  Add Attachment...
                </label>
              </div>

        </div>
        <button class="btn btn-primary" (click)="saveCombo()">Crear Combo</button>
</div>